
@{
    ViewBag.Title = "Thanhcong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<div class="container" style="margin-top: 5rem;height:100%;">
    <div class="card shadow" style="height:200px;width:100%;margin:0 auto;">
        <div class="card-header py-3">
            <h2 class="m-0 font-weight-bold text-primary">BẠN ĐÃ ĐẶT HÀNG THÀNH CÔNG</h2>
        </div>
        <div class="card-body">
            Đơn hàng của bạn đang trong quá trình xử lý!<br />
            Nhân viên của M-Store sẽ liên lạc lại bạn trong thời gian sớm nhất.
            Bạn sẽ được nhận thông tin đơn hàng trong mail sau khi chúng tôi xử lí.
        </div>
    </div>
</div>
<br />
<br />
<br />
