
@{
    ViewBag.Title = "ThatBai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<div class="container" style="margin-top: 5rem;height:100%;">
    <div class="card shadow" style="height:200px;width:100%;margin:0 auto;">
        <div class="card-header py-3">
            <h2 class="m-0 font-weight-bold text-primary">BẠN ĐÃ ĐẶT HÀNG KHÔNG THÀNH CÔNG</h2>
        </div>
        <div class="card-body">
            Vui lòng thử lại!
        </div>
    </div>
</div>
<br />
<br />
<br />

