
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="white">
    <hr class="offset-lg">
    <hr class="offset-lg">
    <hr class="offset-lg">
    <hr class="offset-lg hidden-xs hidden-sm">

    <div class="container about">
        <div class="row">
            <div class="col-sm-6 hidden-sm hidden-md hidden-lg">
                <img src="~/assetsHome/assets/img/about/anytime-mobility.png" alt="Anywhere, anytime mobility" title="Anywhere, anytime mobility" />
            </div>
            <div class="col-sm-7">
                <hr class="offset-lg hidden-xs hidden-sm">
                <hr class="offset-lg hidden-xs hidden-sm">
                <h2 class="featurette-heading">Nguyễn Cảnh Quyết - 43.01.104.146</h2>
                <hr class="offset-md">

                <p class="lead">
                    <pre>
                    Hi there, I am Nguyen Canh Quyet. I am developer, designer
                    and I would like to share with you some of
                    my ideas.
                    My Fullname Is Nguyễn Cảnh Quyết
                    Birthday : 25-09-199*
                    From : BMT City
                    I'm Working At FIS</pre>
                </p>
            </div>
            <div class="col-sm-5 hidden-xs">
                <hr class="offset-lg visible-sm">
                <hr class="offset-lg visible-sm">
                <img src="~/assetsHome/assets/img/about/anytime-mobility.png" alt="Anywhere, anytime mobility" title="Anywhere, anytime mobility" />
            </div>
        </div>
    </div>

    <hr class="offset-lg">
    <hr class="offset-lg">
    <hr class="offset-lg hidden-xs">
</div>
<hr class="offset-lg">
<hr class="offset-lg">

<div class="">
    <hr class="offset-lg hidden-xs">
    <hr class="offset-lg hidden-xs">
    <div class="container about">
        <div class="row">
            <div class="col-sm-5">
                <hr class="offset-lg visible-sm">
                <img src="~/assetsHome/assets/img/about/new-entertainment.png" alt="Anywhere, anytime mobility" title="Anywhere, anytime mobility" />
            </div>
            <div class="col-sm-7">
                <hr class="offset-lg hidden-xs hidden-sm">
                <hr class="offset-lg hidden-xs hidden-sm">
                <h2 class="featurette-heading">Nguyễn Quang Trường Trận</h2>
                <hr class="offset-md">

                <p class="lead">
                    <pre>
                    Hi there, I am Nguyen Quang Truong Tran. I am developer, designer
                    and I would like to share with you some of
                    my ideas.
                    My Fullname Is Nguyễn Quang Trường Trận
                    Birthday : 20-03-199*
                    From : Big City Boiz
                    I'm Studying And Working At HCMUE</pre>

                </p>
            </div>
        </div>
    </div>
    <hr class="offset-lg">
    <hr class="offset-lg">
</div>



<hr class="offset-lg hidden-xs">
<hr class="offset-lg hidden-xs">
<hr class="offset-lg hidden-xs">
<@*div class="white">
    <hr class="offset-lg hidden-xs">
    <hr class="offset-lg hidden-xs">
    <hr class="offset-lg">

    <div class="container about">
        <div class="row">
            <div class="col-sm-6 hidden-sm hidden-md hidden-lg">
                <img src="~/assetsHome/assets/img/about/sleek-and-colorful.png" alt="Sleek and colorful" title="Sleek and colorful" />
            </div>
            <div class="col-sm-6">
                <hr class="offset-lg hidden-xs hidden-sm">
                <hr class="offset-lg hidden-xs hidden-sm">
                <h2 class="featurette-heading">Sleek and powerfull.</h2>
                <hr class="offset-md">

                <p class="lead">
                    With the brand new laptops running lightning-fast Windows 10, the best of Microsoft is at hand on a colorfully
                    sleek and stylish notebook. Express yourself with an HD 29.5 cm (11.6") diagonal screen in a slim package,
                    styled in smoke silver or sky blue.
                </p>
            </div>
            <div class="col-sm-6 hidden-xs">
                <hr class="offset-lg visible-sm">
                <img src="../assets/img/about/sleek-and-colorful.png" alt="Sleek and colorful" title="Sleek and colorful" />
            </div>
        </div>
    </div>

    <hr class="offset-lg">
    <hr class="offset-lg hidden-xs">
    <hr class="offset-lg hidden-xs">
</div>
<hr class="offset-lg hidden-xs">
<hr class="offset-lg">

<div class="container align-center">
    <h1 class="upp"> Contact us </h1>
    <p> Please insert question to a form below. </p>
    <hr class="offset-md">

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <form class="contact" action="index.php" method="post">
                <textarea class="form-control" name="message" placeholder="Message" required="" rows="5"></textarea>
                <br>

                <input type="email" name="email" value="" placeholder="E-mail" required="" class="form-control" />
                <br>

                <button type="submit" class="btn btn-primary justify"> Send question</button>
            </form>
        </div>
    </div>
    <br>
</div>*@
