
@{
    ViewBag.Title = "sitemap";
    Layout = null;
    //List<Dictionary<string, string>> data = ViewBag.SiteMap as List<Dictionary<string, string>>;
}
@*<ol>
    @foreach (var item in data)
    {
        <li><a href="@item["Path"]">@item["Path"]</a></li>
    }

</ol>*@


<pre>
@ViewBag.Text
</pre>